<form action="/register" method="POST" >
    <h2>Create new user</h2>
    <div>
        <label for="userName">Select a username</label>
        <input type="text" id="userName" name="user[userName]" required>
    </div>
    <div>
        <label for="displayName">Select your display name</label>
        <input type="text" id="displayName" name="user[displayName]" required>
    </div>
    <div>
        <label for="password">Enter a password</label>
        <input type="text" id="password" name="user[password]" required>
    </div>
    <button>Submit</button>
</form>