<% layout("Layouts/boilerplate") %> 

<body>
    <h1>ALL USERS</h1>
    <a href="/register"><button>Create new user</button></a>
    <div>
    <% for (let profile of profiles){ %>
        <a href="/profiles/<%= profile.username %> "><p><%= profile.displayName %> </p></a>
    <% } %>  
    </div>
    
</body>